.container {
    background-color: #f7f7f7;
    padding-top: 8px;
    border-right: 1px solid #ddd;
    position: relative;
    height: 100%;
    overflow-y: auto;
    z-index: 1000; /* Ensure the sidebar is above other content */
    border-radius: 1px;
}

.title {
    padding-top: 0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0; /* Remove any default margin */
    color: rgba(0, 6, 39, 0.6);
    text-align: left; /* Align the text to the left */
}