/* Container for the main content */
.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    max-width: 1000px; /* Set a maximum width */
    margin: auto; /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 1px;
    overflow-y: auto;
}

/* Title styling */
.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(0, 6, 39, 0.6);
}

/* Header styling */
.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Button styling */
.button {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse; /* Ensure borders are consistent */
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd; /* Adding border for table cells */
    text-align: center;
    font-size: 14px;
}

.table th {
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    cursor: pointer;
}

.table td {
    background-color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Hover effect for sortable headers */
.sortableHeader:hover {
    background-color: #34495e;
}

/* Link styling */
.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}