.right-sidebar {
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100%;
    width: 200px;
    overflow-y: auto;
    z-index: 1000; /* Ensure the sidebar is above other content */
    border-radius: 8px;
    /* Add a subtle gradient for the embossed effect */
    background: linear-gradient(145deg, #ffffff, #d5d5d5);
    /* Add box shadows for the 3D effect */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
    -5px -5px 15px rgba(255, 255, 255, 0.7);
}

.right-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.right-sidebar li {
    margin-bottom: 15px;
}

.right-sidebar a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.right-sidebar a:hover {
    color: #6684a2;
}