.right-sidebar {
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100%;
    width: 200px;
    overflow-y: auto;
    z-index: 1000; /* Ensure the sidebar is above other content */
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 1px;
}

.right-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.right-sidebar li {
    margin-bottom: 15px;
}

.right-sidebar a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.right-sidebar a:hover {
    color: #6684a2;
}