/* SecondaryNavbar.css */

.secondary-navbar {
    background-color: #6684a2;
    background-image: linear-gradient(to bottom, #7a95b0, #6684a2); /* Subtle gradient for a 3D effect */
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    height: 35px;

    /* Enhanced box-shadow for a puffed effect */
    box-shadow:
        inset 0 2px 4px rgba(255, 255, 255, 0.3), /* Inner shadow for a raised effect */
        0 4px 6px rgba(0, 0, 0, 0.3); /* Outer shadow to simulate elevation */

    border-bottom: 1px solid #576d8a; /* Darker border for a more defined edge */
    border-radius: 1px; /* Slightly rounded corners for a smoother look */

}

.secondary-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove the margin to center the list */
    padding: 0; /* Remove padding to center the list */
    list-style-type: none;
    height: 100%; /* Ensure the ul takes the full height of the navbar */
}

.secondary-navbar li {
    display: flex;
    align-items: center; /* Vertically center the text inside the li */
    margin: 0 15px;
    height: 100%; /* Ensure the li takes the full height of the navbar */
}

.secondary-navbar a {
    text-decoration: none;
    color: #fff; /* Text color */
    font-weight: 500;
    transition: color 0.3s;
}

.secondary-navbar a:hover {
    color: rgba(185, 182, 182, 0.99);
}