
.sidebar .list-group {
    background-color: transparent;
}

.sidebar .list-group-item {
    color: rgba(185, 182, 200, 0.99);
    border-radius: 1px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
}

.sidebar .list-group-item:hover,
.sidebar .list-group-item:active,
.sidebar .list-group-item:focus {
    color: #6684a2;
    outline: none; /* Remove the default focus outline */
}

.submenu {
    font-size: smaller;
        padding: 0 10% 0 10%;

}
.submenu .list-group-item:hover {
    text-decoration: none;
}