
.sidebar .list-group {
    padding: 0;
    background-color: transparent;
}

.sidebar .list-group-item {
    color: rgba(185, 182, 200, 0.99);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.sidebar .list-group-item:hover,
.sidebar .list-group-item:active,
.sidebar .list-group-item:focus {
    color: #6684a2;
    outline: none; /* Remove the default focus outline */
}

.submenu {
    padding-left: 20px; /* Indent submenu items */
    font-size: smaller;
}

.submenu .list-group-item {
    padding: 8px 15px;
    font-weight: normal;
}

.submenu .list-group-item:hover {
    text-decoration: none;
}