/* App.css */

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(155, 157, 197, 0.09);;

}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: calc(100% - 112px); /* Adjusted for navbar heights */
}

.col-12, .col-md-2 {
    padding: 0;
}

.col-md-2 {
    padding: 1rem;
    padding-top: 5%;
    flex: 0 0 200px; /* Sidebar width */
    flex-direction: column;
    align-items: stretch;
    height: 100%; /* Ensure sidebar takes full height */
}

.col-md-10 {
    flex: 1;
}

.navbar-container, .secondary-navbar {
    width: 100%;
}

.navbar {
    width: 100%;
    box-sizing: border-box;
}

.secondary-navbar {
    width: 100%;
    box-sizing: border-box;
}

.main-content {
    background-color: #3e6a96;
    width: auto;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
