/* App.css */

html, body, #root {
    height: max-content;
    margin: 0;
    padding: 0;
    background-color: rgba(155, 157, 197, 0.09);;

}

.container-fluid {
    display: flex;
    flex-direction: column;
    padding: 0;

}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0;


}

.col-12, .col-md-2 {
    padding: 0;
}

.col-md-2 {
    flex: 0 0 200px;
    flex-direction: column;
    align-items: stretch;
}

.col-md-10 {
    flex: 1;
}

.col-md-8 {
    flex: 1;
}

.navbar-container, .secondary-navbar {
    width: 100%;
}

.col-md-12 {
    width: 100%;
    box-sizing: border-box;

}

.main-content {
    background-color: #3e6a96;
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
